/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* COMMON PAGE */
.login-page,
.register-page,
.student-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}


/* DIFFERENT BACKGROUND */

.login-page{
    background:linear-gradient(135deg,#667eea,#764ba2);
}

.register-page{
    background:linear-gradient(135deg,#11998e,#38ef7d);
}

.student-page{
    background:linear-gradient(135deg,#2193b0,#6dd5ed);
}


/* CARD */

.container{

    width:420px;

    background:white;

    padding:35px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,0.25);

}


/* TITLE */

.container h2{

    text-align:center;

    color:#333;

    margin-bottom:25px;

    font-size:28px;

}


/* LABEL */

label{

    display:block;

    margin-top:15px;

    margin-bottom:8px;

    font-weight:bold;

    color:#444;

}


/* INPUT */

input{

    width:100%;

    padding:12px;

    border-radius:8px;

    border:1px solid #ccc;

    font-size:15px;

}


input:focus{

    outline:none;

    border-color:#667eea;

}


/* BUTTON */

button{

    width:100%;

    margin-top:25px;

    padding:13px;

    border:none;

    border-radius:8px;

    background:#667eea;

    color:white;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

}


button:hover{

    background:#4f46e5;

}


/* MESSAGE */

#message{

    margin-top:15px;

    text-align:center;

    color:red;

}


/* LINKS */

.link{

    text-align:center;

    margin-top:20px;

}


.link a{

    color:#667eea;

    text-decoration:none;

    font-weight:bold;

}

#address {
    width: 100%;
    min-height: 90px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    resize: vertical;
    box-sizing: border-box;
}

.forgot-password{
    text-align:right;
    margin-top:8px;
    margin-bottom:15px;
}

.forgot-password a{
    color:#2563eb;
    text-decoration:none;
    font-size:14px;
    font-weight:500;
}

.forgot-password a:hover{
    text-decoration:underline;
}